.showcase {
    position: inherit;
    width: 100%;
    height: 700px;
    margin: auto;
    margin-top: 90px;
    background-image: url(../../assets/Rex.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: -25% 1250%;
    filter: sepia(50%);
    color: var(--color-bg-secondary);
}

#showcase-title {
    font-size: 400px;
    grid-column: 2 / 10;
    grid-row: auto;
    font-weight: 700;
    line-height: 0.7;
} 

#showcase-subtitle { 
    font-size: 50px;
    grid-area: 3 / 7 / 6 / 13;    
    line-height: 1;
} 


@media screen and (max-width: 940px) {
    #showcase-subtitle { 
        font-size: 20px;
        grid-area: 3 / 6 / 6 / 13;    
        line-height: 1;
        text-align: center;
        justify-self: center;
    } 

    #showcase-title {
        font-size: 130px;
        grid-column: 2 / 10;
        grid-row: auto;
        font-weight: 700;
        line-height: 0.7;
        text-align: center;
        justify-self: center;
    } 
    .showcase {
    background-size: 500px;
    background-position: 50% -150%;
    filter: sepia(50%);
    color: var(--color-bg-secondary);
    display: flex;
    justify-content: space-between;
    height: 300px;
    }
}
    

